@import 'tailwindcss';
@plugin 'tailwindcss-animate';

/* @custom-variant dark (&:is(.dark *)); */

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Fix Image Sizing */
img,
svg,
video {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Fonts,Font sizes, Spacing, Light theme & Dark theme */
:root {
  --ff-base: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --ff-accent: Syne, sans-serif;

  /*
    Font Sizes -
    Step 0: 18px → 20px
    --fs-400: 22.5px → 26.66px
    --fs-500: 28.125px → 35.5378px
    --fs-600: 35.1563px → 47.3719px
    --fs-700: 43.9453px → 63.1467px
    --fs-800: 54.9316px → 84.1745px 
  */

  --fs-300: clamp(1.125rem, 1.1rem + 0.125vi, 1.25rem);
  --fs-400: clamp(1.4063rem, 1.3543rem + 0.26vi, 1.6663rem);
  --fs-500: clamp(1.7578rem, 1.6652rem + 0.4633vi, 2.2211rem);
  --fs-600: clamp(2.1973rem, 2.0446rem + 0.7635vi, 2.9607rem);
  --fs-700: clamp(2.7466rem, 2.5066rem + 1.2001vi, 3.9467rem);
  --fs-800: clamp(3.4332rem, 3.0677rem + 1.8277vi, 5.2609rem);
}

:root {
  --text: hsl(233, 72%, 7%);
  --background: hsl(233, 69%, 97%);
  --primary: hsl(232, 70%, 51%);
  --secondary: hsl(266, 70%, 72%);
  --accent: hsl(274, 70%, 60%);

  --text-50: hsl(233, 69%, 95%);
  --text-100: hsl(234, 73%, 90%);
  --text-200: hsl(233, 73%, 80%);
  --text-300: hsl(233, 73%, 70%);
  --text-400: hsl(233, 72%, 60%);
  --text-500: hsl(233, 72%, 50%);
  --text-600: hsl(233, 72%, 40%);
  --text-700: hsl(233, 73%, 30%);
  --text-800: hsl(233, 73%, 20%);
  --text-900: hsl(234, 73%, 10%);
  --text-950: hsl(233, 69%, 5%);

  --background-50: hsl(230, 69%, 95%);
  --background-100: hsl(233, 69%, 90%);
  --background-200: hsl(233, 69%, 80%);
  --background-300: hsl(233, 69%, 70%);
  --background-400: hsl(233, 69%, 60%);
  --background-500: hsl(233, 69%, 50%);
  --background-600: hsl(233, 69%, 40%);
  --background-700: hsl(233, 69%, 30%);
  --background-800: hsl(233, 69%, 20%);
  --background-900: hsl(233, 69%, 10%);
  --background-950: hsl(233, 69%, 5%);

  --primary-50: hsl(230, 69%, 95%);
  --primary-100: hsl(233, 69%, 90%);
  --primary-200: hsl(232, 71%, 80%);
  --primary-300: hsl(232, 70%, 70%);
  --primary-400: hsl(232, 70%, 60%);
  --primary-500: hsl(232, 70%, 50%);
  --primary-600: hsl(232, 70%, 40%);
  --primary-700: hsl(232, 70%, 30%);
  --primary-800: hsl(232, 71%, 20%);
  --primary-900: hsl(233, 69%, 10%);
  --primary-950: hsl(233, 69%, 5%);

  --secondary-50: hsl(267, 69%, 95%);
  --secondary-100: hsl(266, 69%, 90%);
  --secondary-200: hsl(266, 71%, 80%);
  --secondary-300: hsl(266, 70%, 70%);
  --secondary-400: hsl(266, 70%, 60%);
  --secondary-500: hsl(266, 70%, 50%);
  --secondary-600: hsl(266, 70%, 40%);
  --secondary-700: hsl(266, 70%, 30%);
  --secondary-800: hsl(266, 71%, 20%);
  --secondary-900: hsl(266, 69%, 10%);
  --secondary-950: hsl(267, 69%, 5%);

  --accent-50: hsl(273, 69%, 95%);
  --accent-100: hsl(274, 69%, 90%);
  --accent-200: hsl(274, 71%, 80%);
  --accent-300: hsl(274, 70%, 70%);
  --accent-400: hsl(274, 70%, 60%);
  --accent-500: hsl(274, 70%, 50%);
  --accent-600: hsl(274, 70%, 40%);
  --accent-700: hsl(274, 70%, 30%);
  --accent-800: hsl(274, 71%, 20%);
  --accent-900: hsl(274, 69%, 10%);
  --accent-950: hsl(273, 69%, 5%);
}

:root[data-theme="dark"] {
  --text: hsl(233, 72%, 93%);
  --background: hsl(229, 73%, 3%);
  --primary: hsl(232, 70%, 49%);
  --secondary: hsl(266, 70%, 28%);
  --accent: hsl(274, 70%, 40%);

  --text-50: hsl(233, 69%, 5%);
  --text-100: hsl(234, 73%, 10%);
  --text-200: hsl(233, 73%, 20%);
  --text-300: hsl(233, 73%, 30%);
  --text-400: hsl(233, 72%, 40%);
  --text-500: hsl(233, 72%, 50%);
  --text-600: hsl(233, 72%, 60%);
  --text-700: hsl(233, 73%, 70%);
  --text-800: hsl(233, 73%, 80%);
  --text-900: hsl(234, 73%, 90%);
  --text-950: hsl(233, 69%, 95%);

  --background-50: hsl(227, 76%, 5%);
  --background-100: hsl(229, 73%, 10%);
  --background-200: hsl(229, 73%, 20%);
  --background-300: hsl(229, 73%, 30%);
  --background-400: hsl(229, 73%, 40%);
  --background-500: hsl(229, 73%, 50%);
  --background-600: hsl(229, 73%, 60%);
  --background-700: hsl(229, 73%, 70%);
  --background-800: hsl(229, 73%, 80%);
  --background-900: hsl(229, 73%, 90%);
  --background-950: hsl(231, 76%, 95%);

  --primary-50: hsl(233, 69%, 5%);
  --primary-100: hsl(233, 69%, 10%);
  --primary-200: hsl(232, 71%, 20%);
  --primary-300: hsl(232, 70%, 30%);
  --primary-400: hsl(232, 70%, 40%);
  --primary-500: hsl(232, 70%, 50%);
  --primary-600: hsl(232, 70%, 60%);
  --primary-700: hsl(232, 70%, 70%);
  --primary-800: hsl(232, 71%, 80%);
  --primary-900: hsl(233, 69%, 90%);
  --primary-950: hsl(230, 69%, 95%);

  --secondary-50: hsl(267, 69%, 5%);
  --secondary-100: hsl(266, 69%, 10%);
  --secondary-200: hsl(266, 71%, 20%);
  --secondary-300: hsl(266, 70%, 30%);
  --secondary-400: hsl(266, 70%, 40%);
  --secondary-500: hsl(266, 70%, 50%);
  --secondary-600: hsl(266, 70%, 60%);
  --secondary-700: hsl(266, 70%, 70%);
  --secondary-800: hsl(266, 71%, 80%);
  --secondary-900: hsl(266, 69%, 90%);
  --secondary-950: hsl(267, 69%, 95%);

  --accent-50: hsl(273, 69%, 5%);
  --accent-100: hsl(274, 69%, 10%);
  --accent-200: hsl(274, 71%, 20%);
  --accent-300: hsl(274, 70%, 30%);
  --accent-400: hsl(274, 70%, 40%);
  --accent-500: hsl(274, 70%, 50%);
  --accent-600: hsl(274, 70%, 60%);
  --accent-700: hsl(274, 70%, 70%);
  --accent-800: hsl(274, 71%, 80%);
  --accent-900: hsl(274, 69%, 90%);
  --accent-950: hsl(273, 69%, 95%);
}

@theme {
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }
}

/* Setting default sizes, colors & spacing */
:root {
  font-family: var(--ff-base);
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--text);
  background-color: var(--background);
  font-size: var(--fs-300);
  line-height: 1.5;
}

.content-wrapper {
  --default-padding: 3rem;
  width: min(65ch, 100% - var(--default-padding, 2rem));
  margin-inline: auto;
}

/* Flow Spacing */
.flow> :where(:not(:first-child)) {
  margin-top: var(--flow-space, 1em);
}

h1,
h2,
h3 {
  font-family: var(--ff-accent);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1 {
  --flow-space: 2em;
  font-size: var(--fs-700);
  color: var(--primary);
}

h2 {
  --flow-space: 1.5em;
  font-size: var(--fs-600);
}

h3 {
  --flow-space: 1.25em;
  font-size: var(--fs-500);
}

h4 {
  font-size: var(--fs-400);
}

a {
  color: var(--primary);
}

a:focus,
a:hover {
  color: var(--accent);
}


::marker {
  color: var(--accent);
}
